$tooltip: #2c2a37;
$bar-border: #494949;
$bg: #18191c;
$bg-alt: #242730;
$bg-active: #3a3537;
$dashb-bg1: #2b2c2e;
$dashb-bg2: #17181d;
$dashb-bg3: #0d0c14;
$alt-border: #9b9a9c;
$text: #e4fcdb;
$text-innactive: #393a39;
$text-alt: #f4cbd0;
$text-alt2: #f2e093;
$cal: #5e5348;
$cal-alt: #bc9864;
$volbar1: #b7a073;
$volbar2: #d3d3af;
$volbar3: #878a91;
$volbar-bg: #232325;
$cpu1: #6b3f50;
$cpu2: #d35b5d;
$ram1: #2d4b56;
$ram2: #57c6a1;
$fs1: #6d563a;
$fs2: #d1b351;
$arch: #adcbff;
$ws-active: #bca471;
$ws-innactive: #7c5451;
$ws-empty: #695b72;
